<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="description" content="Fun exploration of neural networks in JavaScript.">
    <meta property="og:title" content="Neural Networks"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://i.imgur.com/o3ovXSL.jpg"/>
    <meta property="og:url" content="http://synsugarstudio.com"/>
    <meta property="og:description" content="Fun exploration of neural networks in JavaScript."/>
    <title>Neural Networks | Syntactic Sugar Studio</title>
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <link rel="icon" href="/favicon.ico?v=1">
    <!-- include: "type": "css", "files": "**/*.css" -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- include: "type": "js", "files": ["res/*.js", "js/*.js"] -->
    <!-- include: "type": "js", "files": ["index.js", "**/*.module.js", "views/*.js", "models/*.js"] -->
    <!-- templates -->
  </head>
  <body>
    <header>
      <h1>Neural Networks</h1>
    </header>
    <canvas id="neuralnet"></canvas>
  </body>
</html>
